@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700;900&family=Poppins:wght@500&display=swap');

#root {
  height: 100vh;
  z-index: auto;
}
body {
  height: 100vh;
  margin: 0px;
  z-index: auto;
}
.header-app {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 6em;
  background-color: rgba(0, 0, 0, 0.877);
  box-shadow: 2px 3px 6px #f4d03f;
  z-index: 1;
  position: relative;
}

.container-logo-title {
  display: flex;
  /*  flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.logo-app {
  width: 4em;
  height: 4em;
}
.title-app {
  margin-left: 0.4em;
  font-size: 1.9em;
  font-family: 'Mulish', sans-serif;
  font-weight: 900;
  color: aliceblue;
  /*   -webkit-text-stroke: 1px #F39C12; */
}

.input-search {
  font-family: 'Mulish', sans-serif;
  width: 30em;
  height: 2.5em;
  border-radius: 0.5em;
  /*  border: 1px solid rgba(0, 0, 0, 0.774); */
  border: none;
  padding: 0.2em 1.5em;
  font-weight: 50;
}

.nav-link {
  display: flex;
  justify-content: center;
  width: 10em;
}

.ul-link {
  box-sizing: content-box;
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: center;
  width: 10em;
  padding-inline-start: 0px;
}

.li-link {
  font-family: 'Mulish', sans-serif;
  justify-content: center;
  text-decoration: none;
  margin: 1.2em;
  color: aliceblue;
  font-weight: 700;
  font-size: 1.1em;
}

.background-home {
  /* background-color: #f4d03f; */
  height: 100vh;
  z-index: auto;
}

.footer-app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4em;
  background-color: rgba(0, 0, 0, 0.938);
  box-shadow: 2px 3px 6px #f4d03f;
  color: aliceblue;
  font-family: 'Mulish', sans-serif;
}
